= simple_form_for(@user) do |f|
  = f.input :email, disabled: @user.persisted?, input_html: { placeholder: ' example@email.com' }
  = f.association :topics, as: :check_boxes, label: "Preferences", input_html: { class: 'input_select'}
  = f.button :submit, @user.persisted? ? "Update" : "Subscribe me!"
