.section {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
}

.main {
  max-width: 25rem;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flash_messages {
  padding: 1rem;
}
